* {
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #FF9900;
    margin-top: .5em;
    font-size: 400%;
}

input {
    border-radius: 24em;
    background-color: #FF9900;
    border: #000000;
    font-weight: bold;
    font-size: 3em;

}

input[button], h1 {
    font-family: 'Playfair Display SC', serif;
}

body>div {
    margin-top: 12em;
}

span {
    color: #FF9900;
    font-size: 4em;
}

section {
    font-size: 4em;
    margin: 3em;
}

.flashy {
    background: #FF9900;
}

#countdown_display {
    margin-top: 5em;
    width: 20em;
    margin-left: 5em;
    border-radius: 24em;
}