@font-face {
    font-family: LCARS_Font;
    src: url("lcars_font.ttf") format("truetype");
}

* {
    text-align: center;
    /*font-family: 'PT Sans Narrow', sans-serif;*/
    font-family: LCARS_Font, serif;
}

body {
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-color: #000000;
}

h1 {
    color: #FF9900;
    margin-top: .5em;
    font-size: 400%;
}

input {
    border-radius: 24em;
    background-color: #FF9900;
    border: #000000;
    font-weight: bold;
    font-size: 3em;
}

input:first-of-type {
}

input[button], h1 {
    /*font-family: 'Playfair Display SC', serif;*/
}

body>div {
    margin-top: 12em;
}

span {
    color: #FF9900;
    font-size: 4em;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.flashy {
    background: #FF9900;
}

#countdown_display {
    font-size: 4em;
    margin-top: 5em;
    border-radius: 24em;
}